<% content_for :title, "Editing Book" %>

<div class="container mt-5">
  <h2 class="mb-4 text-primary">Edit Book</h2>

  <%= render "form", book: @book %>

  <div class="mt-4">
    <%= link_to "Show this Book", @book, class: "btn btn-outline-secondary me-2" %>
    <%= link_to "Back to Books", books_path, class: "btn btn-outline-dark" %>
  </div>
</div>
